body {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    padding: 5px 0 5px 15px;
    background-color: #62b3ff;
    color: white;
    font-size: large;
}

main {
    margin-top: 25px;
}

.card--apps {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 20px 35px 20px;
    margin: 25px 50px 50px 25px;
}

.app--container {
    display: flex;
}

.app--img--container {
    margin-right: 15px;
}

.img-app {
    height: 55px;
    width: 55px;
}

.download-btn {
    padding: 10px;
    background-color: #62b3ff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    font-size: medium;
}
