* {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

main {
    margin-left: 15px;
    margin-top: 25px;
}


.app--container {

}

/*/* https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn2.f-cdn.com%2Fcontestentries%2F1426335%2F30430108%2F5bb92217401a6_thumb900.jpg&tbnid=HC_3_wihViq0WM&vet=12ahUKEwiGiaOzsIeBAxXUNrkGHet9D9sQMygOegQIARBu..i&imgrefurl=https%3A%2F%2Fwww.freelancer.cn%2Fcontest%2Fdesign-a-file-download-page-template-that-matches-our-theme-1426335&docid=JUgq9KlA3kN5vM&w=900&h=1786&q=download%20files%20page%20design&ved=2ahUKEwiGiaOzsIeBAxXUNrkGHet9D9sQMygOegQIARBu
https://iconduck.com/icons/11305/node-red
